<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ShieldKit" version="0.3.2">

	<name>ShieldKit</name>
	<description>Secures your app from displaying a screenshot in task switchers under Android and iOS. Keeps sensitive information private.</description>
	<license>MIT</license>
	

	<platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="ShieldKit">
        <param name="ios-package" value="ShieldKit"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

		<header-file src="src/ios/ScreenShieldKit.h"/>
		<header-file src="src/ios/SSKProtectedImageView.h"/>
		<header-file src="src/ios/SSKProtectedLabel.h"/>
		<header-file src="src/ios/SSKProtectedViewStatus.h"/>
		<source-file src="src/ios/Tmodule.m"/>
	</platform>
</plugin>